<div class="panel">
  <div class="panel__options">
    <a ui-sref="^.ARCHIVO-uno" class="boton boton--naranja panel__options__elem"><i class="fa fa-fw fa-file"></i> Nuevo NOMBRE</a>
  </div>
  <div class="panel__body" ng-if="vm.listado.contador === 0">
    <p class="no-results">
      <i class="fa fa-fw fa-list"></i>
      <span>No hay NOMBRE registrados.</span>
    </p>
  </div>
  <div class="table-responsive" ng-if="vm.listado.contador > 0">
    <table class="tabla">
      <thead class="tabla__header text--left">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody class="tabla__body tabla--clickable">
        <tr ng-repeat="ARCHIVO in vm.listado.docs track by $index">
          <td ng-bind="$index + 1" ui-sref="^.ARCHIVO-uno({id: ARCHIVO._id})"></td>
          <td ng-bind="ARCHIVO.nombre" ui-sref="^.ARCHIVO-uno({id: ARCHIVO._id})"></td>
          <td>
            <ul class="tabla__opciones">
              <li class="tabla__opciones__elem" tooltip="Editar" ui-sref="^.ARCHIVO-uno({id: ARCHIVO._id, editar: true})"><i class="text--cyan fa fa-fw fa-edit"></i></li>
              <li class="tabla__opciones__elem" tooltip="Eliminar" ng-click="vm.eliminar(ARCHIVO)"><i class="text--tomate fa fa-fw fa-trash"></i></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
