<section class="form" ng-form="ARCHIVOForm">
  <div class="panel">
    <div class="panel__options">
      <a class="boton boton--blanco boton--s panel__options__elem" ui-sref="^.ARCHIVO-lista" ng-if="!vm.ARCHIVO._id || !vm.ARCHIVO.editando">
        <i class="fa fa-fw fa-reply"></i>
        <span class="hidden-xs">Volver</span>
      </a>
      <button class="boton boton--kiwi  panel__options__elem" ng-click="vm.editar(true)" ng-if="vm.ARCHIVO._id && !vm.ARCHIVO.editando">
        <i class="fa fa-fw fa-edit"></i>
        <span class="hidden-xs">Editar</span>
      </button>
      <button class="boton boton--tomate boton--s  panel__options__elem" ng-click="vm.editar(false)" type="button" ng-if="vm.ARCHIVO.editando">
        <i class="fa fa-fw fa-ban"></i>
        <span class="hidden-xs">Cancelar</span>
      </button>
      <button class="boton boton--verde panel__options__elem" type="submit" ng-click="ARCHIVOForm.$submitted = true; vm.guardar(ARCHIVOForm.$valid)" ng-if="vm.ARCHIVO.editando || !vm.ARCHIVO._id">
        <i class="fa fa-fw fa-download"></i>
        <span class="hidden-xs">Guardar</span>
      </button>
    </div>
    <div class="panel__body">
      <div class="form__group" ng-class="{ 'form__group--error': ARCHIVOForm.nombre.$invalid && (ARCHIVOForm.nombre.$dirty || ARCHIVOForm.$submitted) }">
        <label class="form__label" for="nombre">Nombre</label>
        <input class="form__input" id="nombre" name="nombre" ng-disabled="vm.ARCHIVO._id && !vm.ARCHIVO.editando" ng-model="vm.ARCHIVO.nombre" ng-required="true" type="text">
      </div>
    </div>
  </div>
</section>
