@media print {
  .tabla {
    border-collapse: collapse;
    margin-bottom: 1em;
    page-break-inside: avoid;
    width: 100%;

    th {
      font-weight: normal;
    }

    th,
    td {
      vertical-align: center;
    }
  }

  .reporte {
    .tabla__header {
      color: $blanco;
      font-size: .9em;
      font-weight: normal;
      text-align: left;

      th {
        background: $negro4;
      }

      td {
        padding: 4px 15px;
      }
    }

    .tabla__body {
      color: $negro4;
      font-size: .85em;

      th,
      td {
        padding: 3px 15px;
      }

      tr {
        border: 1px solid $azul-pastel;
        border-top: 0;

        &:nth-child(even) {
          background-color: lighten($azul-pastel, 17%);
        }
      }
    }

    .grid {
      .reporte__dato {
        border-bottom: 1px solid $grisa;
      }

      .grid__col-md-2,
      .grid__col-md-3,
      .grid__col-md-4 {
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .grid__col-md-3 {
        width: 25%;
      }

      .grid__col-md-4 {
        width: 33.3%;
      }

      label {
        color: $gris8;
        font-size: .75em;
      }

      span {
        font-size: .75em;
      }
    }

    .panel__header {
      color: $negro4;
      font-size: 1.2em;
      font-weight: bold;
    }

    .no-results {
      color: $gris8;
      font-size: .75em;
      text-align: left;

      &::before {
        content: "\02630";
      }
    }

    .reporte__seccion {
      margin: 0 15px;
      page-break-inside: avoid;
    }

    .reporte__titulo {
      display: none;
    }

    .reporte__margin {
      margin-bottom: 15px;
    }
  }
}

@media print {
  .tabla--reporte-pagos {
    border-collapse: collapse;
    font-size: .75em;

    th {
      border: 1px solid $grisa;
    }
  }
}
