<section class="login">
  <div class="panel login__body">
    <div class="text--center">
      <img src="http://www.coprimex.net/assets/img/layout/coprimex_logo.svg" alt="Coprimex">
    </div>
      <h1 class="h1 text--center"><i class="fa fa-fw fa-lock text--naranja"></i><span class="text--naranja">403</span> - Acceso no permitido.</h1>
      <p class="text text--center">Usted no posee los permisos para realizar dicha acción.</p>
    <div class="text--center">
      <button class="boton boton--verde" onclick="window.history.back();">
        <i class="fa fa-fw fa-reply"></i>
        Regresar
      </button>
    </div>
  </div>
</section>
