.botones-dashboard {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.botones-dashboard__elem {
  margin: .25em 1em;
}

.version {
  @extend .text--blanco;
  bottom: 5px;
  position: fixed;
  right: 5px;
}
