%colorgraph-vertical {
  &::after {
    background-image: $gradient-vivo-vertical;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
  }
}

.layout {
  background: url("/recursos/imagenes/fondo-interno.png");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.layout__bar {
  @extend .sombra;
  @extend %colorgraph-vertical;
  background: $negro4;
  height: 100%;
  position: fixed;
  width: 30px;
  z-index: 4;

  @media (min-width: $reflex-md ) {
    width: 60px;
  }
}

.layout__content {
  height: 100%;
  margin-left: 33px;
  overflow: auto;
  @media (min-width: $reflex-md ) {
    margin-left: 60px;
  }
}

.layout__content__inner {
  @media (min-width: $reflex-md ) {
    padding: 1em;
  }
}

@mixin nth($color) {
  .menu-principal__hijos__title {
    color: $color;
  }

  &:hover {
    color: $color;
  }
}

.menu-principal__elem {
  @extend %sans;
  @extend .text--center;
  color: $grisc;
  cursor: pointer;
  padding: 1em 0;
  width: 100%;

  .fa {
    font-size: .8em;

    @media (min-width: $reflex-md ) {
      font-size: 1.5em;
    }
  }

  &:nth-child(1n) {@include nth($naranja-vivo) }

  &:nth-child(2n) {@include nth($indigo-vivo) }

  &:nth-child(3n) {@include nth($kiwi-vivo) }

  &:nth-child(4n) {@include nth($cyan-vivo) }

  &:nth-child(5n) {@include nth($lila-vivo) }

  &:nth-child(6n) {@include nth($rosado-vivo) }

  &:nth-child(7n) {@include nth($ambar-vivo) }

  &:nth-child(8n) {@include nth($turquesa-vivo) }

  &:nth-child(9n) {@include nth($kiwi-vivo) }
}

.menu-principal__elem--perfil {
  border-bottom: 2px solid darken($gris6, 5%);
}

.menu-principal__elem--active {
  background: $grise;
  &:nth-child(1n) { color: $naranja-vivo;}
  &:nth-child(2n) {color: $indigo-vivo;}
  &:nth-child(3n) {color: $kiwi-vivo;}
  &:nth-child(4n) {color: $cyan-vivo;}
  &:nth-child(5n) {color: $lila-vivo;}
  &:nth-child(6n) {color: $rosado-vivo;}
  &:nth-child(7n) {color: $ambar-vivo;}
  &:nth-child(8n) {color: $turquesa-vivo;}
  &:nth-child(9n) {color: $kiwi-vivo;}
}

.menu-principal__logo {
  padding: 1em 0;
  width: 70%;
}

.menu-principal__usuario__foto {
  border-radius: 64px;
  display: block;
  margin: 0 auto;
}

.menu-principal__usuario__nombre {
  @extend %serif;
  font-size: 12px;
}

.menu-principal__hijos__title {
  color: $blanco;
  font-size: 1.3em;
}

.menu-principal__hijos {
  @extend %colorgraph-vertical;
  cursor: default;
  display: none;
  height: 0;
  opacity: 0;
  transition: all .5s;
  z-index: 5;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.menu-principal__hijos--active {
  background: $grise;
  box-shadow: 3px 0 3px transparentize($gris6, .4);
  color: $negro4;
  display: block;
  height: 100%;
  left: 27px;
  list-style: none;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: fixed;
  top: 0;
  width: 15em;

  @media (min-width: $reflex-md ) {
    left: 57px;
  }
}

.menu-principal__hijos--perfil {
  background: $blanco;
}

.menu-principal__hijos__elem {
  @extend %sans;
  @extend .text--left;
  background: inherit;
  cursor: pointer;
  padding: .5em 1em;

  &:hover {
    background: transparentize($verde, .8);
  }

  .fa {
    font-size: 1em;
  }

  span {
    display: inline;
  }
}

.menu-principal__hijos__elem--version {
  @extend %serif;
  color: $grisa;
  font-size: .8em;

  &:hover {
    background: transparent;
  }
}
