<section class="panel">
  <div class="panel__header">Botones</div>
  <div class="panel__body">
    <div class="grid">
      <div class="grid__col-md-auto">
        <pre>
          <code class="html">
            Botón regular
            &lt;button class="boton"&gt;
              &lt;i class="fa fa-fw fa-download"&gt;&lt;/i&gt;
              &lt;span&gt;Guardar&lt;/span&gt;
            &lt;/button&gt;

            Botón con color: //boton--<b>color</b>
            &lt;button class="boton boton--morado"&gt;
              &lt;i class="fa fa-fw fa-download"&gt;&lt;/i&gt;
              &lt;span&gt;Guardar&lt;/span&gt;
            &lt;/button&gt;
          </code>
        </pre>
      </div>
      <div class="grid__col-md-auto">
        <pre>
          <code class="html">
            Botón de diferentes tamaños //boton--<b>tamaño</b>
            Se puede combinar un tamaño con un color, ya sea regular o outline.

            &lt;button class="boton boton--xs"&gt;
              &lt;i class="fa fa-fw fa-download"&gt;&lt;/i&gt;
              &lt;span&gt;Guardar&lt;/span&gt;
            &lt;/button&gt;
          </code>
        </pre>
      </div>
      <div class="grid__col-md-auto">
        <pre>
          <code class="html">
            Botón outline //boton--<b>color-o</b>
            &lt;button class="boton boton--verde-o"&gt;
              &lt;i class="fa fa-fw fa-download"&gt;&lt;/i&gt;
              &lt;span&gt;Guardar&lt;/span&gt;
            &lt;/button&gt;
          </code>
        </pre>
      </div>
    </div>
    <div>
      <button class="boton boton--lila boton--xs">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--xs</span>
      </button>
      <button class="boton boton--s boton--lila">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--s</span>
      </button>
      <button class="boton boton--lila">
        <i class="fa fa-fw fa-download"></i>
        <span>Sin Tamaño</span>
      </button>
      <button class="boton boton--l boton--lila">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--l</span>
      </button>
      <button class="boton boton--xl boton--lila">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--xl</span>
      </button>
    </div>
    <div>

      <button class="boton boton--lila" ng-disabled="true">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--lila</span>
      </button>

      <button class="boton boton--lila-o" ng-disabled="true">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--lila-o</span>
      </button>

    </div>
    <div>
      <button class="boton boton--morado">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--morado</span>
      </button>
      <button class="boton boton--indigo">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--indigo</span>
      </button>
      <button class="boton boton--azul">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--azul</span>
      </button>
      <button class="boton boton--celeste">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--celeste</span>
      </button>
      <button class="boton boton--cyan">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--cyan</span>
      </button>
      <button class="boton boton--turquesa">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--turquesa</span>
      </button>
      <button class="boton boton--verde">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--verde</span>
      </button>
      <button class="boton boton--kiwi">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--kiwi</span>
      </button>
      <button class="boton boton--lima">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--lima</span>
      </button>
      <button class="boton boton--amarillo">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--amarillo</span>
      </button>
      <button class="boton boton--ambar">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--ambar</span>
      </button>
      <button class="boton boton--naranja">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--naranja</span>
      </button>
      <button class="boton boton--tomate">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--tomate</span>
      </button>
      <button class="boton boton--rojo">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--rojo</span>
      </button>
      <button class="boton boton--rosado">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--rosado</span>
      </button>
    </div>
    <div>
      <button class="boton boton--lila-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--lila-o</span>
      </button>
      <button class="boton boton--morado-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--morado-o</span>
      </button>
      <button class="boton boton--indigo-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--indigo-o</span>
      </button>
      <button class="boton boton--azul-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--azul-o</span>
      </button>
      <button class="boton boton--celeste-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--celeste-o</span>
      </button>
      <button class="boton boton--cyan-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--cyan-o</span>
      </button>
      <button class="boton boton--turquesa-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--turquesa-o</span>
      </button>
      <button class="boton boton--verde-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--verde-o</span>
      </button>
      <button class="boton boton--kiwi-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--kiwi-o</span>
      </button>
      <button class="boton boton--lima-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--lima-o</span>
      </button>
      <button class="boton boton--amarillo-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--amarillo-o</span>
      </button>
      <button class="boton boton--ambar-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--ambar-o</span>
      </button>
      <button class="boton boton--naranja-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--naranja-o</span>
      </button>
      <button class="boton boton--tomate-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--tomate-o</span>
      </button>
      <button class="boton boton--rojo-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--rojo-o</span>
      </button>
      <button class="boton boton--rosado-o">
        <i class="fa fa-fw fa-download"></i>
        <span>boton--rosado-o</span>
      </button>
    </div>
  </div>
</section>
