<div class="grid">
  <div class="grid__col-auto">
    <div class="panel">
      <div class="panel__header">Título</div>
      <div class="panel__tabs">
        <div class="panel__tab" ui-sref=".tab1" ui-sref-active="panel__tab--active">Paso 1.</div>
        <div class="panel__tab" ui-sref=".tab2" ui-sref-active="panel__tab--active">Paso 2.</div>
        <div class="panel__tab" ui-sref=".tab3" ui-sref-active="panel__tab--active">Paso 3.</div>
        <div class="panel__tab" ui-sref=".tab4" ui-sref-active="panel__tab--active">Paso 4.</div>
      </div>
      <div class="panel__body">
        <ui-view></ui-view>
      </div>
    </div>

    <div class="panel">
      <div class="panel__header">Esto es un panel sin tabs</div>
      <div class="panel__body">
        <p class="h4">Este es el cuerpo del panel sin tabs</p>
      </div>
    </div>

    <div class="panel">
      <div class="panel__body">
        <p class="h5">Este panel no tiene header</p>
      </div>
    </div>

    <div class="panel">
      <div class="panel__options">
        <a class="boton boton--negro boton--s panel__options__elem">
          <i class="fa fa-fw fa-reply"></i>
          <span class="hidden-xs">Volver</span>
        </a>
        <button class="boton boton--tomate boton--s  panel__options__elem">
          <i class="fa fa-fw fa-ban"></i>
          <span class="hidden-xs">Cancelar</span>
        </button>
        <button class="boton boton--kiwi  panel__options__elem">
          <i class="fa fa-fw fa-edit"></i>
          <span class="hidden-xs">Editar</span>
        </button>
        <button class="boton boton--verde panel__options__elem">
          <i class="fa fa-fw fa-download"></i>
          <span class="hidden-xs">Guardar</span>
        </button>
      </div>
      <div class="panel__body">
        <p class="h5">Este panel tiene opciones</p>
      </div>
    </div>

    <div class="panel">
      <div class="panel__header panel__header--subpanel">Subpanel</div>

    </div>

    <div class="panel">
      <div class="panel__header panel__header--verde">Panel header de color</div>
      <div class="panel__body">
        Cuerpo normal
      </div>
    </div>

    <div class="panel">
      <div class="panel__header">Este panel tiene todas las partes</div>
      <div class="panel__options">
        <a class="boton boton--negro boton--s panel__options__elem">
          <i class="fa fa-fw fa-reply"></i>
          <span class="hidden-xs">Volver</span>
        </a>
        <button class="boton boton--tomate boton--s  panel__options__elem">
          <i class="fa fa-fw fa-ban"></i>
          <span class="hidden-xs">Cancelar</span>
        </button>
        <button class="boton boton--kiwi  panel__options__elem">
          <i class="fa fa-fw fa-edit"></i>
          <span class="hidden-xs">Editar</span>
        </button>
        <button class="boton boton--verde panel__options__elem">
          <i class="fa fa-fw fa-download"></i>
          <span class="hidden-xs">Guardar</span>
        </button>
      </div>
      <div class="panel__tabs">
        <div class="panel__tab" ui-sref=".tab1" ui-sref-active="panel__tab--active">Paso 1.</div>
        <div class="panel__tab" ui-sref=".tab2" ui-sref-active="panel__tab--active">Paso 2.</div>
        <div class="panel__tab" ui-sref=".tab3" ui-sref-active="panel__tab--active">Paso 3.</div>
        <div class="panel__tab" ui-sref=".tab4" ui-sref-active="panel__tab--active">Paso 4.</div>
      </div>
      <div class="panel__body">
        <p class="h5">Se puede ver raro, pero está la opción</p>
      </div>
    </div>


  </div>
  <div class="grid__col-auto">
    <pre class="html">
      <code>
        <h2>HTML de los tabs</h2>
        &lt;div class="panel"&gt;
          &lt;div class="panel__header"&gt;Título&lt;/div&gt;
          &lt;div class="panel__tabs"&gt;
            &lt;div class="panel__tab" ui-sref=".tab1" ui-sref-active="panel__tab--active"&gt;Paso 1.&lt;/div&gt;
            &lt;div class="panel__tab" ui-sref=".tab2" ui-sref-active="panel__tab--active"&gt;Paso 2.&lt;/div&gt;
            &lt;div class="panel__tab" ui-sref=".tab3" ui-sref-active="panel__tab--active"&gt;Paso 3.&lt;/div&gt;
            &lt;div class="panel__tab" ui-sref=".tab4" ui-sref-active="panel__tab--active"&gt;Paso 4.&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="panel__body"&gt;
            &lt;ui-view&gt;&lt;/ui-view&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="panel"&gt;
          &lt;div class="panel__header"&gt;Esto es un panel sin tabs&lt;/div&gt;
          &lt;div class="panel__body"&gt;
            &lt;p class="h4"&gt;Este es el cuerpo del panel sin tabs&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="panel"&gt;
          &lt;div class="panel__body"&gt;
            &lt;p class="h5"&gt;Este panel no tiene header&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="panel"&gt;
          &lt;div class="panel__options"&gt;
            &lt;a class="boton boton--negro boton--s panel__options__elem"&gt;
              &lt;i class="fa fa-fw fa-reply"&gt;&lt;/i&gt;
              &lt;span class="hidden-xs"&gt;Volver&lt;/span&gt;
            &lt;/a&gt;
            &lt;button class="boton boton--tomate boton--s  panel__options__elem"&gt;
              &lt;i class="fa fa-fw fa-ban"&gt;&lt;/i&gt;
              &lt;span class="hidden-xs"&gt;Cancelar&lt;/span&gt;
            &lt;/button&gt;
            &lt;button class="boton boton--kiwi  panel__options__elem"&gt;
              &lt;i class="fa fa-fw fa-edit"&gt;&lt;/i&gt;
              &lt;span class="hidden-xs"&gt;Editar&lt;/span&gt;
            &lt;/button&gt;
            &lt;button class="boton boton--verde panel__options__elem"&gt;
              &lt;i class="fa fa-fw fa-download"&gt;&lt;/i&gt;
              &lt;span class="hidden-xs"&gt;Guardar&lt;/span&gt;
            &lt;/button&gt;
          &lt;/div&gt;
          &lt;div class="panel__body"&gt;
            &lt;p class="h5"&gt;Este panel tiene opciones&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="panel"&gt;
          &lt;div class="panel__body no-padding"&gt;
            &lt;img src="recursos/imagenes/fondo.png" alt="Fondo" class="img-responsive"&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class="panel"&gt;
          &lt;div class="panel__header"&gt;Este panel tiene todas las partes&lt;/div&gt;
          &lt;div class="panel__options"&gt;
            &lt;a class="boton boton--negro boton--s panel__options__elem"&gt;
              &lt;i class="fa fa-fw fa-reply"&gt;&lt;/i&gt;
              &lt;span class="hidden-xs"&gt;Volver&lt;/span&gt;
            &lt;/a&gt;
            &lt;button class="boton boton--tomate boton--s  panel__options__elem"&gt;
              &lt;i class="fa fa-fw fa-ban"&gt;&lt;/i&gt;
              &lt;span class="hidden-xs"&gt;Cancelar&lt;/span&gt;
            &lt;/button&gt;
            &lt;button class="boton boton--kiwi  panel__options__elem"&gt;
              &lt;i class="fa fa-fw fa-edit"&gt;&lt;/i&gt;
              &lt;span class="hidden-xs"&gt;Editar&lt;/span&gt;
            &lt;/button&gt;
            &lt;button class="boton boton--verde panel__options__elem"&gt;
              &lt;i class="fa fa-fw fa-download"&gt;&lt;/i&gt;
              &lt;span class="hidden-xs"&gt;Guardar&lt;/span&gt;
            &lt;/button&gt;
          &lt;/div&gt;
          &lt;div class="panel__tabs"&gt;
            &lt;div class="panel__tab" ui-sref=".tab1" ui-sref-active="panel__tab--active"&gt;Paso 1.&lt;/div&gt;
            &lt;div class="panel__tab" ui-sref=".tab2" ui-sref-active="panel__tab--active"&gt;Paso 2.&lt;/div&gt;
            &lt;div class="panel__tab" ui-sref=".tab3" ui-sref-active="panel__tab--active"&gt;Paso 3.&lt;/div&gt;
            &lt;div class="panel__tab" ui-sref=".tab4" ui-sref-active="panel__tab--active"&gt;Paso 4.&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="panel__body"&gt;
            &lt;p class="h5"&gt;Se puede ver raro, pero está la opción&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      </code>
    </pre>
    <pre class="javascript">
      <code>
        <h2>Controller de los tabs</h2>
        "use strict";
        module.exports = panelCtrl;
        function panelCtrl( $state ) {
          var panel = this;
          panel.obj = {nombre: "Nombre"};
          $state.go( "index.doc.panels.tab1" );
        }
      </code>
    </pre>
    <pre class="javascript">
      <code>
        <h2>Rutas de los tabs</h2>
        $stateProvider.state( "index.doc.panels", {
          templateUrl: "documentacion/views/panels.html",
          url: "/panels",
          controller: "PanelCtrl",
          controllerAs: "panel",
          data: {
            titulo: "Panels",
            icono: "fa-square"
          }
        } );

        $stateProvider.state( "index.doc.panels.tab1", {
          templateUrl: "documentacion/views/tab1.html",
          url: "/tab1",
          data: {
            titulo: "Panels",
            icono: "fa-square",
            oculto: true
          }
        } );

        $stateProvider.state( "index.doc.panels.tab2", {
          templateUrl: "documentacion/views/tab2.html",
          url: "/tab2",
          data: {
            titulo: "Panels",
            icono: "fa-square",
            oculto: true
          }
        } );

        $stateProvider.state( "index.doc.panels.tab3", {
          templateUrl: "documentacion/views/tab3.html",
          url: "/tab3",
          data: {
            titulo: "Panels",
            icono: "fa-square",
            oculto: true
          }
        } );

        $stateProvider.state( "index.doc.panels.tab4", {
          templateUrl: "documentacion/views/tab4.html",
          url: "/tab4",
          data: {
            titulo: "Panels",
            icono: "fa-square",
            oculto: true
          }
        } );
      </code>
    </pre>
  </div>
</div>
