<div class="grid">
  <div class="grid__col-6">
    <div class="panel">
      <div class="panel__header">Tablas</div>
      <div class="panel__body">
          <p class="text">
            Las tablas pueden NO IR dentro de un panel__body y se acomodan al width del panel.
          </p>
      </div>
      <table class="tabla">
        <thead class="tabla__header text--center">
          <tr>
            <th>Campo 1</th>
            <th>Campo 2</th>
            <th>Campo 3</th>
            <th>Campo 4</th>
          </tr>
        </thead>
        <tbody class="tabla__body text--center">
          <tr>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
          </tr>
          <tr>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
          </tr>
          <tr>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
          </tr>
          <tr>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
          </tr>
          <tr>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
          </tr>
        </tbody>
        <tfoot class="tabla__footer">
          <tr>
            <td>Campo 1</td>
            <td>Campo 2</td>
            <td>Campo 3</td>
            <td>Campo 4</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="panel">
      <div class="panel__header">
        Esta clase funciona como para elementos clickables
      </div>
      <table class="tabla">
        <thead class="tabla__header text--center">
          <tr>
            <th>Campo 1</th>
            <th>Campo 2</th>
            <th>Campo 3</th>
            <th>Campo 4</th>
          </tr>
        </thead>
        <tbody class="tabla__body tabla--clickable">
          <tr>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>
              <ul class="tabla__opciones">
                <li class="tabla__opciones__elem" tooltip="Editar"><i class="text--cyan fa fa-fw fa-edit"></i></li>
                <li class="tabla__opciones__elem" tooltip="Eliminar"><i class="text--tomate fa fa-fw fa-trash"></i></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>
              <ul class="tabla__opciones">
                <li class="tabla__opciones__elem" tooltip="Editar"><i class="text--cyan fa fa-fw fa-edit"></i></li>
                <li class="tabla__opciones__elem" tooltip="Eliminar"><i class="text--tomate fa fa-fw fa-trash"></i></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>
              <ul class="tabla__opciones">
                <li class="tabla__opciones__elem" tooltip="Editar"><i class="text--cyan fa fa-fw fa-edit"></i></li>
                <li class="tabla__opciones__elem" tooltip="Eliminar"><i class="text--tomate fa fa-fw fa-trash"></i></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>
              <ul class="tabla__opciones">
                <li class="tabla__opciones__elem" tooltip="Editar"><i class="text--cyan fa fa-fw fa-edit"></i></li>
                <li class="tabla__opciones__elem" tooltip="Eliminar"><i class="text--tomate fa fa-fw fa-trash"></i></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>Esto es un texto de la tabla</td>
            <td>
              <ul class="tabla__opciones">
                <li class="tabla__opciones__elem" tooltip="Editar"><i class="text--cyan fa fa-fw fa-edit"></i></li>
                <li class="tabla__opciones__elem" tooltip="Eliminar"><i class="text--tomate fa fa-fw fa-trash"></i></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid__col-6">
    <div class="panel">
      <div class="panel__body">
        <pre class="html">
          <code>
            &lt;table class="tabla"&gt;
              &lt;thead class="tabla__header text--center"&gt;
                &lt;tr&gt;
                  &lt;th&gt;Campo 1&lt;/th&gt;
                  &lt;th&gt;Campo 2&lt;/th&gt;
                  &lt;th&gt;Campo 3&lt;/th&gt;
                  &lt;th&gt;Campo 4&lt;/th&gt;
                &lt;/tr&gt;
              &lt;/thead&gt;
              &lt;tbody class="tabla__body text--center"&gt;
                &lt;tr&gt;
                  &lt;td&gt;Esto es un texto de la tabla&lt;/td&gt;
                  &lt;td&gt;Esto es un texto de la tabla&lt;/td&gt;
                  &lt;td&gt;Esto es un texto de la tabla&lt;/td&gt;
                  &lt;td&gt;Esto es un texto de la tabla&lt;/td&gt;
                &lt;/tr&gt;
              &lt;/tbody&gt;
              &lt;tfoot class="tabla__footer"&gt;
                &lt;tr&gt;
                  &lt;td&gt;Campo 1&lt;/td&gt;
                  &lt;td&gt;Campo 2&lt;/td&gt;
                  &lt;td&gt;Campo 3&lt;/td&gt;
                  &lt;td&gt;Campo 4&lt;/td&gt;
                &lt;/tr&gt;
              &lt;/tfoot&gt;
            &lt;/table&gt;
          </code>
        </pre>
        <pre class="html">
          <code>
            &lt;table class="tabla"&gt;
              &lt;thead class="tabla__header text--center"&gt;
                &lt;tr&gt;
                  &lt;th&gt;Campo 1&lt;/th&gt;
                  &lt;th&gt;Campo 2&lt;/th&gt;
                  &lt;th&gt;Campo 3&lt;/th&gt;
                  &lt;th&gt;Campo 4&lt;/th&gt;
                &lt;/tr&gt;
              &lt;/thead&gt;
              &lt;tbody class="tabla__body tabla--clickable"&gt;
                &lt;tr&gt;
                  &lt;td&gt;Esto es un texto de la tabla&lt;/td&gt;
                  &lt;td&gt;Esto es un texto de la tabla&lt;/td&gt;
                  &lt;td&gt;Esto es un texto de la tabla&lt;/td&gt;
                  &lt;td&gt;
                    &lt;ul class="tabla__opciones"&gt;
                      &lt;li class="tabla__opciones__elem" tooltip="Editar"&gt;&lt;i class="text--cyan fa fa-fw fa-edit"&gt;&lt;/i&gt;&lt;/li&gt;
                      &lt;li class="tabla__opciones__elem" tooltip="Eliminar"&gt;&lt;i class="text--tomate fa fa-fw fa-trash"&gt;&lt;/i&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                  &lt;/td&gt;
                &lt;/tr&gt;
              &lt;/tbody&gt;
            &lt;/table&gt;
          </code>
        </pre>
      </div>
    </div>
  </div>
</div>
