<section class="panel">
  <div class="panel__header">Tests de unidad</div>
  <div class="panel__body">
    <h1>¿Cómo hacer un test?</h1>
    <p>Los tests deben ir dentro del src/app, bajo un directorio llamado tests. Dentro
    de este directorio, debe haber un directorio llamado unit. </p>
    <p>Cualquier archivo dentro del directorio unit, será probado automáticamente.</p>

    <div class="grid">
      <div class="grid__col-md-auto">
        <h2>Ejemplo básico</h2>
        <pre class="javascript">
          <code>
            //importar tape
            var test = require("tape");

            //Hacer un test → recibe 2 params: la descripción y la función del test
            test("Esto es un test", function(assert){

              assert.equal(1, 2);  //hacer la comparación

              assert.end(); //recordar finalizar SIEMPRE el test.
            });
          </code>
        </pre>
      </div>
      <div class="grid__col-md-auto">
        <h2>Ejemplo de cómo probar un controlador</h2>
        <pre class="javascript">
          <code>
            //ctrl.js
            module.exports = ctrl;
            function ctrl($scope, $stateParams, API){
              var vm = this;
              vm.sumar = sumar;

              function sumar(num1, num2){
                return num1 + num2;
              }
            }
          </code>
        </pre>
        <pre class="javascript">
          <code>
            var test = require("tape"); //importar tape
            var Ctrl = require("./ctrl.js"); //importar el controlador

            test("Probar la función sumar del controlador", function(assert){
              var instancia = new Ctrl();
              var resultado = instancia.sumar(1, 1); //llamo la función del controlador
              assert.equal(resultado, 2);  

              assert.end(); //recordar finalizar SIEMPRE el test.
            });
          </code>
        </pre>
      </div>
    </div>
  </div>
</section>
