<div class="grid">
  <div class="grid__col-auto">
    <section class="panel">
      <div class="panel__body">
        <h1 class="h1">Header H1</h1>
        <h2 class="h2 text--naranja">Header H2</h2>
        <h3 class="h3 text--kiwi">Header H3</h3>
        <h4 class="h4">Header H4</h4>
        <h5 class="h5">Header H5</h5>
        <p class="text">Esto es un texto p</p>
        <p class="text text--bold">Esto es un texto p en negrita</p>
        <p class="text text--italic">Esto es un texto p en itálica</p>
        <p class="text text--bold text--italic">Esto es un texto p en negrita itálica</p>
        <p class="text text--bold text--italic text--underline">Esto es un texto p en negrita itálica y con subrayado</p>
        <p class="text text--capitalize">Esto es un texto p capitalizado</p>
        <p class="text text--uppercase">Esto es un texto p en mayúsculas</p>
        <p class="text text--verde">Esto es un texto p color verde</p>
        <p class="text text--right">Esto es un texto p alineado a la derecha</p>
        <span class="text">Esto es un texto span</span>
      </div>
    </section>
  </div>
  <div class="grid__col-auto">
    <div class="panel">
      <div class="panel__body">
        <p class="h5">Los estilos de los H son css. Usted puede poner un P con estilo de H1 por ejemplo.</p>
        <pre class="html">
          <code>
            &lt;h1 class="h1"&gt;Header H1&lt;/h1&gt;
            &lt;h2 class="h2 text--naranja"&gt;Header H2&lt;/h2&gt;
            &lt;h3 class="h3 text--kiwi"&gt;Header H3&lt;/h3&gt;
            &lt;h4 class="h4"&gt;Header H4&lt;/h4&gt;
            &lt;h5 class="h5"&gt;Header H5&lt;/h5&gt;
            &lt;p class="text"&gt;Esto es un texto p&lt;/p&gt;
            &lt;p class="text text--bold"&gt;Esto es un texto p en negrita&lt;/p&gt;
            &lt;p class="text text--italic"&gt;Esto es un texto p en itálica&lt;/p&gt;
            &lt;p class="text text--bold text--italic"&gt;Esto es un texto p en negrita itálica&lt;/p&gt;
            &lt;p class="text text--bold text--italic text--underline"&gt;Esto es un texto p en negrita itálica y con subrayado&lt;/p&gt;
            &lt;p class="text text--capitalize"&gt;Esto es un texto p capitalizado&lt;/p&gt;
            &lt;p class="text text--uppercase"&gt;Esto es un texto p en mayúsculas&lt;/p&gt;
            &lt;p class="text text--verde"&gt;Esto es un texto p color verde&lt;/p&gt;
            &lt;p class="text text--right"&gt;Esto es un texto p alineado a la derecha&lt;/p&gt;
            &lt;span class="text"&gt;Esto es un texto span&lt;/span&gt;
          </code>
        </pre>
      </div>
    </div>
  </div>
</div>
