.panel {
  @extend .sombra;
  background: $blanco;
  border-radius: 1px;
  margin-bottom: 1em;
}

.panel--no-margin-top {
  border-top: 0;
  box-shadow: 0 0 0 0;
  margin-top: -17px;
}

%border-radius-top {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

%border-radius-bottom {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

%panel-padding {
  padding: .5em 1em;
}

.panel__header {
  @extend %serif;
  @extend %panel-padding;
  background: $negro2;
  color: $blanco;
  font-size: 1.1em;
  transition: all .5s;
}

.panel__header + .panel__body,
.panel__options + .panel__body {
  border-top: 2px solid $naranja;
}

@mixin panel-header-color($background, $color) {
  background: $background;
  border-bottom: 3px solid darken($background, 5%);
  color: $color;
}

.panel__header--lila { @include panel-header-color($lila, $blanco)};
.panel__header--morado { @include panel-header-color($morado, $blanco)};
.panel__header--indigo { @include panel-header-color($indigo, $blanco)};
.panel__header--azul { @include panel-header-color($azul, $blanco)};
.panel__header--celeste { @include panel-header-color($celeste, $blanco)};
.panel__header--cyan { @include panel-header-color($cyan, $blanco)};
.panel__header--turquesa { @include panel-header-color($turquesa, $blanco)};
.panel__header--verde { @include panel-header-color($verde, $blanco)};
.panel__header--kiwi { @include panel-header-color($kiwi, $negro)};
.panel__header--lima { @include panel-header-color($lima, $negro)};
.panel__header--amarillo { @include panel-header-color($amarillo, $negro)};
.panel__header--ambar { @include panel-header-color($ambar, $negro)};
.panel__header--naranja { @include panel-header-color($naranja, $negro)};
.panel__header--tomate { @include panel-header-color($tomate, $blanco)};
.panel__header--rojo { @include panel-header-color($rojo, $blanco)};
.panel__header--rosado { @include panel-header-color($rosado, $blanco)};
.panel__header--negro { @include panel-header-color($negro, $blanco)};

.panel__options {
  @extend %serif;
  @extend .text--center;
  background: $negro2;
  color: $blanco;
  height: 44px;
  padding-top: 4px;
}

.panel__footer {
  @extend %serif;
  @extend %panel-padding;
  border-top: 1px solid $grisd;
  color: $gris6;
  font-size: .8em;
}

.panel__header,
.panel__body,
.panel__footer {
  @extend %panel-padding;
}

.panel__options__elem {
  display: inline-block;
}

.panel__tabs {
  background: $negro4;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

@mixin triangulo($zindex, $color) {
  border-bottom: 20px solid transparent;
  border-left: 20px solid $color;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  content: "";
  position: absolute;
  top: 0;
  z-index: $zindex;
}

.panel__tab {
  @extend .text--center;
  @extend %sans;
  background: $negro2;
  border-bottom: 1px solid $negro4;
  border-top: 1px solid $negro4;
  color: transparentize($blanco, .5);
  cursor: pointer;
  flex-basis: 0;
  flex-grow: 1;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;

  span {
    display: none;
  }

  @media(min-width: $reflex-md) {
    span {
      display: inline;
    }
  }

  &:first-child,
  &:last-child {
    margin: 0;
  }

  &:hover {
    color: $naranja;
  }

  &:first-child {
    &::before {
      border: 0;
    }
  }

  &::before {
    @include triangulo(1, $negro4);
    left: 0;
  }

  &::after {
    @include triangulo(2, $negro2);
    left: 100%;
  }

}

.panel__tab--active {
  background: $blanco;
  border-bottom: 2px solid $blanco;
  color: $verde;
  pointer-events: none;

  &:hover {
    color: $verde;
    cursor: default;
  }

  &::after {
    @include triangulo(6, $blanco);
    left: 100%;
  }
}

.panel__tab--deshabilitado {
  background: $gris8;
  border-bottom: 2px solid $gris8;
  color: transparentize($blanco, .67);

  &:hover {
    color: transparentize($blanco, .67);
    cursor: not-allowed;
  }

  &::before {
    @include triangulo(2, $negro4);
    left: 0;
  }

  &::after {
    @include triangulo(3, $gris8);
    left: 100%;
  }
}

.panel__header--subpanel {
  background: $blanco;
  border-bottom: 1px solid $grisd;
  color: $gris8;
}

.panel__header--subpanel-subtitulo {
  border-bottom: 0 !important;
}
