<div class="panel">
  <div class="panel__header panel__header--subpanel">
    Administración
  </div>
  <div class="grid">
    <div class="grid__col-md-12">
      <table class="tabla">
        <tbody class="tabla__body tabla__body--bordered">
          <tr>
            <th></th>
            <th class="text--left">Ver</th>
            <th class="text--left">Editar</th>
            <th class="text--left">Crear</th>
            <th class="text--left">Eliminar</th>
          </tr>
          <tr>
            <th class="text--left">Roles</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="rolVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.roles.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.admin.roles)">
                <label class="form__label" for="rolVer"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="rolEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.roles.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.admin.roles, 'editar')">
                <label class="form__label" for="rolEditar"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="rolCrear" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.roles.crear" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.admin.roles, 'crear')">
                <label class="form__label" for="rolCrear"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="rolEliminar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.roles.eliminar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.admin.roles, 'eliminar')">
                <label class="form__label" for="rolEliminar"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text--left">Usuarios</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="usuarioVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.usuarios.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.admin.usuarios)">
                <label class="form__label" for="usuarioVer"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="usuarioEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.usuarios.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.admin.usuarios, 'editar')">
                <label class="form__label" for="usuarioEditar"></label>
              </div>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th class="text--left">Marcas de bultos</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="marcaVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.marcasBultos.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.admin.marcasBultos)">
                <label class="form__label" for="marcaVer"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="marcaEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.marcasBultos.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.admin.marcasBultos, 'editar')">
                <label class="form__label" for="marcaEditar"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="marcaCrear" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.marcasBultos.crear" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.admin.marcasBultos, 'crear')">
                <label class="form__label" for="marcaCrear"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="marcaEliminar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.marcasBultos.eliminar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.admin.marcasBultos, 'eliminar')">
                <label class="form__label" for="marcaEliminar"></label>
              </div>
            </td>
          </tr>
          <tr>
            <th class="text--left">Tipos de cajas</th>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="tipoVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.tiposCajas.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.admin.tiposCajas)">
                <label class="form__label" for="tipoVer"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="tipoEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.tiposCajas.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.admin.tiposCajas, 'editar')">
                <label class="form__label" for="tipoEditar"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="tipoCrear" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.tiposCajas.crear" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.admin.tiposCajas, 'crear')">
                <label class="form__label" for="tipoCrear"></label>
              </div>
            </td>
            <td>
              <div class="checkbox">
                <input type="checkbox" id="tipoEliminar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.admin.tiposCajas.eliminar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.admin.tiposCajas, 'eliminar')">
                <label class="form__label" for="tipoEliminar"></label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
