<div class="grid">
  <div class="grid__col-md-12">
    <table class="tabla">
      <tbody class="tabla__body tabla__body--bordered">
        <tr>
          <th>
            <h6 class="h6 text--left">Repollos</h6>
          </th>
          <th class="text--left">Ver</th>
          <th class="text--left">Editar</th>
          <th class="text--left">Crear</th>
          <th class="text--left">Eliminar</th>
        </tr>
        <tr>
          <th class="text--left">Entrada (Creación)</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradadRepolloVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.repollos.entrada.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.repollos.entrada)">
              <label class="form__label" for="entradadRepolloVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradadRepolloEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.repollos.entrada.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.repollos.entrada, 'editar')">
              <label class="form__label" for="entradadRepolloEditar"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradadRepolloCrear" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.repollos.entrada.crear" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.repollos.entrada, 'crear')">
              <label class="form__label" for="entradadRepolloCrear"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="entradadRepolloEliminar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.repollos.entrada.eliminar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.repollos.entrada, 'eliminar')">
              <label class="form__label" for="entradadRepolloEliminar"></label>
            </div>
          </td>
        </tr>
        <tr>
          <th class="text--left">Selección</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="selecciondRepolloVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.repollos.seleccion.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.repollos.seleccion)">
              <label class="form__label" for="selecciondRepolloVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="selecciondRepolloEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.repollos.seleccion.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.repollos.seleccion, 'editar')">
              <label class="form__label" for="selecciondRepolloEditar"></label>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th class="text--left">Empaque</th>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="empaqueRepolloVer" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.repollos.empaque.ver" ng-click="vm.integridad.validarVer(vm[vm.modulo].permisos.operaciones.repollos.empaque)">
              <label class="form__label" for="empaqueRepolloVer"></label>
            </div>
          </td>
          <td>
            <div class="checkbox">
              <input type="checkbox" id="empaqueRepolloEditar" ng-disabled="vm[vm.modulo]._id && !vm[vm.modulo].editando" ng-model="vm[vm.modulo].permisos.operaciones.repollos.empaque.editar" ng-click="vm.integridad.setearVer(vm[vm.modulo].permisos.operaciones.repollos.empaque, 'editar')">
              <label class="form__label" for="empaqueRepolloEditar"></label>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
