.boton {
  @extend %sans;
  border: 0;
  border-radius: 4px;
  font-size: .8em;
  padding: .8em 1em;
  text-decoration: none;
  text-transform: uppercase;

  span {
    display: none;
  }

  @media(min-width: $reflex-md) {
    span {
      display: inline;
    }
  }
}

.boton--xs {
  font-size: .7em;
  padding: .3em .5em;
}

.boton--s {
  font-size: .75em;
  padding: .5em .7em;
}

.boton--l {
  font-size: 1em;
  padding: 1em 1.2em;
}

.boton--xl {
  font-size: 1.4em;
}

@mixin boton-color($fondo, $letra) {
  background: $fondo;
  border-bottom: 3px solid darken($fondo, 5%);
  color: $letra;
  cursor: pointer;
  transition: all .25s;
  transition-timing-function: ease-in;

  &:hover {
    background: lighten($fondo, 5%);
    border-bottom: 3px solid $fondo;
    box-shadow: 0 0 16px -3px $fondo;
  }

  &:disabled {
    background: transparentize(darken($fondo, 10%), .3);
    border-bottom: 0;
    color: transparentize($letra, .3);
    cursor: not-allowed;
  }
}

.boton--negro {
  @include boton-color($negro4, $blanco);
}

.boton--lila {
  @include boton-color($lila, $blanco);
}

.boton--morado {
  @include boton-color($morado, $blanco);
}

.boton--indigo {
  @include boton-color($indigo, $blanco);
}

.boton--azul {
  @include boton-color($azul, $blanco);
}

.boton--celeste {
  @include boton-color($celeste, $blanco);
}

.boton--cyan {
  @include boton-color($cyan, $blanco);
}

.boton--turquesa {
  @include boton-color($turquesa, $blanco);
}

.boton--verde {
  @include boton-color($verde, $blanco);
}

.boton--kiwi {
  @include boton-color($kiwi, $negro2);
}

.boton--lima {
  @include boton-color($lima, $negro2);
}

.boton--amarillo {
  @include boton-color($amarillo, $negro2);
}

.boton--ambar {
  @include boton-color($ambar, $negro2);
}

.boton--naranja {
  @include boton-color($naranja, $blanco);
}

.boton--tomate {
  @include boton-color($tomate, $blanco);
}

.boton--rojo {
  @include boton-color($rojo, $blanco);
}

.boton--rosado {
  @include boton-color($rosado, $blanco);
}

.boton--blanco {
  @include boton-color($grisd, $negro2);
}

.boton--redondo {
  border-radius: 25px;
  height: 42px;
  padding: 4px 0 0;
  width: 42px;
}

.boton--redondo-s {
  border-radius: 25px;
  height: 25px;
  padding: 3px 0 0;
  width: 25px;
}

.boton--cerrar {
  background: 0 0;
  border: 0;
  cursor: pointer;
  float: right;
  font-size: 1.4em;
  font-weight: 700;
  opacity: .3;
  padding: 0;
  right: 5px;;
  text-shadow: 0 1px 0 $blanco;
}
