@import "forms/common";
@import "forms/checkbox";
@import "forms/radios";
@import "forms/switch";

.form {
  width: 100%;
}

.form__group {
  margin: .3em 0;
  padding: .3em 0;
}

.form__label,
.form__input,
.form__error-message {
  @extend %sans;
}

.form__label {
  color: $gris8;
  font-size: .75em;
}

.form__input {
  background: $blanco;
  border: 0;
  border-bottom: 1px solid $grisa;
  color: $negro4;
  font-size: 1em;
  padding: .5em 0;
  resize: none;
  width: 100%;

  &:focus,
  &:active {
    border: 0;
    border-bottom: 2px solid $verde;
    outline-color: transparent;
  }

  &:disabled {
    border-bottom: 1px dashed $grisa;
    color: $grisa;
    cursor: not-allowed;

    &:focus,
    &:active {
      outline-color: transparent;
    }
  }
}

.form__group--error {
  .form__label {
    color: $tomate-vivo;

    &::before {
      @extend %font-awesome;
      content: "\f06a";
      padding-right: .5em;
    }
  }

  .form__input {
    box-shadow: inset 0 -2px 0 $tomate-vivo;
  }
}

.form__error-message {
  color: $tomate-vivo;
  font-size: .9em;
  text-align: center;
}

.form__group--inline {
  align-items: baseline;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

.form__input-group {
  display: inline-flex;

  .form__input-group__addon {
    background: $grisc;
    border-bottom: 1px solid $grisa;
    color: $gris6;
    padding-top: 10px;
    text-align: center;
    width: 10%;
  }
}
