.img-responsive {
  max-height: 100%;
  max-width: 100%;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: 0;
}

.clickable {
  cursor: pointer;
}

.no-display {
  display: none;
}

.sombra {
  box-shadow: 0 2px 4px transparentize($negro4, .5), 0 6px 12px transparentize($gris6, .5);
}

.sombra-media {
  box-shadow: 0 4px 8px transparentize($negro4, .5), 0 8px 16px transparentize($gris6, .5);
}

.deshabilitado {
  cursor: not-allowed;
  opacity: .8;
  pointer-events: none;
}

.float--right {
  float: right;
  position: relative;
}

.float--left {
  float: left;
  position: relative;
}

.input__tabla {
  max-width: 165px;
}

.capitalize {
  text-transform: capitalize;
}

.no--list-style {
  list-style: none;
}

.ul--no-padding {
  padding: 0;
}

.ul--no-margin {
  margin: 0;
}

%colorgraph {
  &::after {
    background-image: $gradient;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
  }
}

.hr {
  @extend %colorgraph;
  border: 0;

  &::after {
    background-image: $gradient-pastel;
    height: 1px;
  }
}
