.tabla {
  border-collapse: collapse;
  margin-bottom: 1em;
  position: relative;
  width: 100%;

  th,
  td {
    vertical-align: center;
  }
}

.tabla--separador-pie {
  margin-bottom: 2em;

  &::after {
    background-image: $gradient-pastel;
    content: "";
    display: block;
    height: 1px;
    margin-top: 1em;
    position: absolute;
    width: 100%;
  }
}

%th {
  @extend %sans;
  color: $negro4;
  font-size: .9em;
}

.tabla__header,
.tabla__footer {
  @extend %th;
  @extend .text--left;
  @extend %colorgraph;
  background: trasparent;
  color: $negro4;
  position: relative;

  &::after {
    position: absolute;
  }

  th,
  td {
    padding: 10px 15px;
  }
}


.tabla__footer {
  border-bottom: 0;
  border-top: 2px solid $grisc;
}

.tabla__body {
  @extend %sans;
  color: $negro4;
  font-size: .85em;

  th,
  td {
    padding: 6px 15px;
  }

  th {
    font-size: .85em;
  }
}

.tabla__body--bordered {
  tr {
    border-bottom: 1px solid $grise;
  }
}

.tabla__opciones {
  @extend .text--right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabla__opciones__elem {
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  margin: 0 5px;
}

.tabla--clickable {
  tr {
    cursor: pointer;

    &:hover {
      background: $kiwi-pastel;
    }
  }
}

.tabla__body--striped {
  th,
  td {
    padding: 4px 15px;
  }

  tr {
    border: 0;
    border-bottom: 1px solid $azul-pastel;

    &:nth-child(odd) {
      background-color: lighten($azul-pastel, 17%);
    }
  }

  .reporte__group {
    padding: 0;
  }
}

.table-responsive {
  overflow-x: auto;
}

.table--width-33 {
  width: 33%;
}

.tabla--final-panel {
  tbody {
    tr {
      &:last-child {
        td {
          padding-bottom: 1em;
        }
      }
    }
  }
}
