@import "https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif";

%sans {
  font-family: "Noto Sans", sans-serif;
}

%serif {
  font-family: "Noto Serif", serif;
}

%font-awesome {
  font-family: "fontawesome";
}

%headers {
  @extend %serif;
  color: $negro4;
  margin: .5em 0;
}

.h1 {
  @extend %headers;
  font-size: 1.8em;
  @media (min-width: $reflex-md) {
    font-size: 2.8em;
  }
}

.h2 {
  @extend %headers;
  font-size: 1.5em;
  @media (min-width: $reflex-md) {
    font-size: 2.5em;
  }
}

.h3 {
  @extend %headers;
  font-size: 1.3em;
  @media (min-width: $reflex-md) {
    font-size: 2.2em;
  }
}

.h4 {
  @extend %headers;
  font-size: 1.15em;
  @media (min-width: $reflex-md) {
    font-size: 1.9em;
  }
}

.h5 {
  @extend %headers;
  font-size: 1.05em;
  @media (min-width: $reflex-md) {
    font-size: 1.6em;
  }
}

.h6 {
  @extend %headers;
  font-size: .8em;
  font-weight: normal;
  @media (min-width: $reflex-md) {
    font-size: 1em;
  }
}

.text {
  @extend %sans;
  color: $negro4;
}

.text--bold {
  font-weight: bold;
}

.text--italic {
  font-style: italic;
}

.text--left {
  text-align: left;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: right;
}

.text--justify {
  text-align: justify;
}

.text--underline {
  text-decoration: underline;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--lowercase {
  text-transform: lowercase;
}

.text--capitalize {
  text-transform: capitalize;
}

.text--lila {
  color: $lila;
}

.text--morado {
  color: $morado;
}

.text--indigo {
  color: $indigo;
}

.text--azul {
  color: $azul;
}

.text--celeste {
  color: $celeste;
}

.text--cyan {
  color: $cyan;
}

.text--turquesa {
  color: $turquesa;
}

.text--verde {
  color: $verde;
}

.text--kiwi {
  color: $kiwi;
}

.text--lima {
  color: $lima;
}

.text--amarillo {
  color: $amarillo;
}

.text--ambar {
  color: $ambar;
}

.text--naranja {
  color: $naranja;
}

.text--tomate {
  color: $tomate;
}

.text--rojo {
  color: $rojo;
}

.text--rosado {
  color: $rosado;
}

.text--negro {
  color: $negro;
}

.text--negro2 {
  color: $negro2;
}

.text--negro4 {
  color: $negro4;
}

.text--gris6 {
  color: $gris6;
}

.text--gris8 {
  color: $gris8;
}

.text--blanco {
  color: $blanco;
}

.no-results {
  @extend .text--center;
  @extend .text--gris8;
  @extend %serif;
  font-size: 1.2em;
  padding-bottom: 1em;
}

.badge {
  background-color: $verde;
  border-radius: 10px;
  color: $blanco;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
