<section class="form" ng-form="tiposcajasForm">
  <div class="panel">
    <div class="panel__options">
      <a class="boton boton--blanco boton--s panel__options__elem" ui-sref="^.tiposcajas-lista" ng-if="!vm.tiposcajas._id || !vm.tiposcajas.editando">
        <i class="fa fa-fw fa-reply"></i>
        <span class="hidden-xs">Volver</span>
      </a>
      <button class="boton boton--kiwi  panel__options__elem" ng-click="vm.editar(true)" ng-if="vm.tiposcajas._id && !vm.tiposcajas.editando">
        <i class="fa fa-fw fa-edit"></i>
        <span class="hidden-xs">Editar</span>
      </button>
      <button class="boton boton--tomate boton--s  panel__options__elem" ng-click="vm.editar(false)" type="button" ng-if="vm.tiposcajas.editando">
        <i class="fa fa-fw fa-ban"></i>
        <span class="hidden-xs">Cancelar</span>
      </button>
      <button class="boton boton--verde panel__options__elem" type="submit" ng-click="tiposcajasForm.$submitted = true; vm.guardar(tiposcajasForm.$valid)" ng-if="vm.tiposcajas.editando || !vm.tiposcajas._id">
        <i class="fa fa-fw fa-download"></i>
        <span class="hidden-xs">Guardar</span>
      </button>
    </div>
    <div class="panel__body">
      <div class="form__group" ng-class="{ 'form__group--error': tiposcajasForm.nombre.$invalid && (tiposcajasForm.nombre.$dirty || tiposcajasForm.$submitted) }">
        <label class="form__label" for="nombre">Nombre</label>
        <input class="form__input" id="nombre" name="nombre" ng-disabled="vm.tiposcajas._id && !vm.tiposcajas.editando" ng-model="vm.tiposcajas.nombre" ng-required="true" type="text">
      </div>
      <div class="form__group" ng-class="{ 'form__group--error': tiposcajasForm.peso.$invalid && (tiposcajasForm.peso.$dirty || tiposcajasForm.$submitted) }">
        <label class="form__label" for="peso">Peso</label>
        <input class="form__input" id="peso" name="peso" ng-disabled="vm.tiposcajas._id && !vm.tiposcajas.editando" ng-model="vm.tiposcajas.peso" ng-required="true" type="number">
      </div>
    </div>
  </div>
</section>
