<section class="form" ng-form="rolForm">
  <div class="panel">
    <div class="panel__options">
      <a class="boton boton--blanco boton--s panel__options__elem" ui-sref="^.rol-lista" ng-if="!vm.rol._id || !vm.rol.editando">
        <i class="fa fa-fw fa-reply"></i>
        <span class="hidden-xs">Volver</span>
      </a>
      <button class="boton boton--kiwi  panel__options__elem" ng-click="vm.editar(true)" ng-if="vm.rol._id && !vm.rol.editando">
        <i class="fa fa-fw fa-edit"></i>
        <span class="hidden-xs">Editar</span>
      </button>
      <button class="boton boton--tomate boton--s  panel__options__elem" ng-click="vm.editar(false)" type="button" ng-if="vm.rol.editando">
        <i class="fa fa-fw fa-ban"></i>
        <span class="hidden-xs">Cancelar</span>
      </button>
      <button class="boton boton--verde panel__options__elem" type="submit" ng-click="rolForm.$submitted = true; vm.guardar(rolForm.$valid)" ng-if="vm.rol.editando || !vm.rol._id">
        <i class="fa fa-fw fa-download"></i>
        <span class="hidden-xs">Guardar</span>
      </button>
    </div>
    <div class="panel__body">
      <div class="form__group" ng-class="{ 'form__group--error': rolForm.nombre.$invalid && (rolForm.nombre.$dirty || rolForm.$submitted) }">
        <label class="form__label" for="nombre">Nombre</label>
        <input class="form__input" id="nombre" name="nombre" ng-disabled="vm.rol._id && !vm.rol.editando" ng-model="vm.rol.nombre" ng-required="true" type="text">
      </div>
      <div class="form__group">
        <label class="form__label" for="descripcion">Descripción</label>
        <input class="form__input" id="descripcion" name="descripcion" ng-disabled="vm.rol._id && !vm.rol.editando" ng-model="vm.rol.descripcion" type="text">
      </div>
    </div>
  </div>
  <div ng-include="'admin/views/permisos/administracion.html'"></div>
  <div ng-include="'admin/views/permisos/contenedores.html'"></div>
  <div ng-include="'admin/views/permisos/operaciones.html'"></div>
  <div ng-include="'admin/views/permisos/reportes.html'"></div>
  <div ng-include="'admin/views/permisos/pagoProveedores.html'"></div>
</section>
