<section class="form" ng-form="marcasbultosForm">
  <div class="panel">
    <div class="panel__options">
      <a class="boton boton--blanco boton--s panel__options__elem" ui-sref="^.marcasbultos-lista" ng-if="!vm.marcasbultos._id || !vm.marcasbultos.editando">
        <i class="fa fa-fw fa-reply"></i>
        <span class="hidden-xs">Volver</span>
      </a>
      <button class="boton boton--kiwi  panel__options__elem" ng-click="vm.editar(true)" ng-if="vm.marcasbultos._id && !vm.marcasbultos.editando">
        <i class="fa fa-fw fa-edit"></i>
        <span class="hidden-xs">Editar</span>
      </button>
      <button class="boton boton--tomate boton--s  panel__options__elem" ng-click="vm.editar(false)" type="button" ng-if="vm.marcasbultos.editando">
        <i class="fa fa-fw fa-ban"></i>
        <span class="hidden-xs">Cancelar</span>
      </button>
      <button class="boton boton--verde panel__options__elem" type="submit" ng-click="marcasbultosForm.$submitted = true; vm.guardar(marcasbultosForm.$valid)" ng-if="vm.marcasbultos.editando || !vm.marcasbultos._id">
        <i class="fa fa-fw fa-download"></i>
        <span class="hidden-xs">Guardar</span>
      </button>
    </div>
    <div class="panel__body">
      <div class="grid">
        <div class="grid__col-md-4">
          <div class="form__group" ng-class="{ 'form__group--error': marcasbultosForm.nombre.$invalid && (marcasbultosForm.nombre.$dirty || marcasbultosForm.$submitted) }">
            <label class="form__label" for="nombre">Nombre</label>
            <input class="form__input" id="nombre" name="nombre" ng-disabled="vm.marcasbultos._id && !vm.marcasbultos.editando" ng-model="vm.marcasbultos.nombre" ng-required="true" type="text">
          </div>
        </div>
        <div class="grid__col-md-4">
          <div class="form__group" ng-class="{ 'form__group--error': marcasbultosForm.presentacion.$invalid && (marcasbultosForm.presentacion.$dirty || marcasbultosForm.$submitted) }">
            <label class="form__label" for="presentacion">Presentación</label>
            <select class="form__input" id="presentacion" name="presentacion" ng-disabled="vm.marcasbultos._id && !vm.marcasbultos.editando" ng-model="vm.marcasbultos.presentacion" ng-required="true" type="number" ng-options="p for p in vm.listaPresentaciones"></select>
          </div>
        </div>
        <div class="grid__col-md-4">
          <div class="form__group" ng-class="{ 'form__group--error': marcasbultosForm.peso.$invalid && (marcasbultosForm.peso.$dirty || marcasbultosForm.$submitted) }">
            <label class="form__label" for="peso">Peso</label>
            <input class="form__input" id="peso" name="peso" ng-disabled="vm.marcasbultos._id && !vm.marcasbultos.editando" ng-model="vm.marcasbultos.peso" ng-required="true" type="number">
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid__col-md-6">
          <div class="form__group" ng-class="{ 'form__group--error': marcasbultosForm.capacidadMax.$invalid && (marcasbultosForm.capacidadMax.$dirty || marcasbultosForm.$submitted) }">
            <label class="form__label" for="capacidadMax">Capacidad máxima</label>
            <input class="form__input" id="capacidadMax" name="capacidadMax" ng-disabled="vm.marcasbultos._id && !vm.marcasbultos.editando" ng-model="vm.marcasbultos.capacidadMax" ng-required="true" type="number">
          </div>
        </div>
        <div class="grid__col-md-6">
          <div class="form__group" ng-class="{ 'form__group--error': marcasbultosForm.capacidadMin.$invalid && (marcasbultosForm.capacidadMin.$dirty || marcasbultosForm.$submitted) }">
            <label class="form__label" for="capacidadMin">Capacidad mínima</label>
            <input class="form__input" id="capacidadMin" name="capacidadMin" ng-disabled="vm.marcasbultos._id && !vm.marcasbultos.editando" ng-model="vm.marcasbultos.capacidadMin" ng-required="true" type="number">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
