<section class="form" ng-form="usuarioForm">
  <div class="panel">
    <div class="panel__options">
      <a class="boton boton--blanco boton--s panel__options__elem" ui-sref="^.usuario-lista" ng-if="!vm.usuario._id || !vm.usuario.editando">
        <i class="fa fa-fw fa-reply"></i>
        <span class="hidden-xs">Volver</span>
      </a>
      <button class="boton boton--kiwi  panel__options__elem" ng-click="vm.editar(true)" ng-if="vm.usuario._id && !vm.usuario.editando">
        <i class="fa fa-fw fa-edit"></i>
        <span class="hidden-xs">Editar</span>
      </button>
      <button class="boton boton--tomate boton--s  panel__options__elem" ng-click="vm.editar(false)" type="button" ng-if="vm.usuario.editando">
        <i class="fa fa-fw fa-ban"></i>
        <span class="hidden-xs">Cancelar</span>
      </button>
      <button class="boton boton--verde panel__options__elem" type="submit" ng-click="usuarioForm.$submitted = true; vm.guardar(usuarioForm.$valid)" ng-if="vm.usuario.editando || !vm.usuario._id">
        <i class="fa fa-fw fa-download"></i>
        <span class="hidden-xs">Guardar</span>
      </button>
    </div>
    <div class="panel__body">
      <div class="grid">
        <div class="grid__col-md-6">
          <div class="form__group" ng-class="{ 'form__group--error': usuarioForm.nombre.$invalid && (usuarioForm.nombre.$dirty || usuarioForm.$submitted) }">
            <label class="form__label" for="nombre">Nombre</label>
            <input class="form__input" id="nombre" name="nombre" ng-disabled="vm.usuario._id && !vm.usuario.editando" ng-model="vm.usuario.nombre" ng-required="true" type="text">
          </div>
        </div>
        <div class="grid__col-md-6">
          <div class="form__group">
            <label class="form__label" for="correo">Correo electrónico</label>
            <input class="form__input" id="correo" name="correo" ng-disabled="true" ng-model="vm.usuario.correo" type="text">
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid__col-md-6" ng-hide="vm.usuario.rol === 'Administrador'">
          <div class="form__group">
            <label class="form__label" for="nombre">Rol (opcional)</label>
            <cis-select name="rol" ng-model="vm.rolSeleccionado" ruta="/api/rol" atributo="nombre" ng-disabled="vm.usuario._id && !vm.usuario.editando" ng-change="vm.usuario.aplicarPermisos(vm.rolSeleccionado.permisos)"></cis-select>
          </div>
        </div>
        <div class="grid__col-md-12" ng-show="vm.usuario.rol === 'Administrador'">
          <p class="no-results">
            <i class="fa fa-fw fa-info-circle"></i>
            <span>Todos los permisos están habilitados.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div ng-hide="vm.usuario.rol === 'Administrador'">
    <div ng-include="'admin/views/permisos/administracion.html'"></div>
    <div ng-include="'admin/views/permisos/contenedores.html'"></div>
    <div ng-include="'admin/views/permisos/reportes.html'"></div>
    <div ng-include="'admin/views/permisos/operaciones.html'"></div>
    <div ng-include="'admin/views/permisos/pagoProveedores.html'"></div>
  </div>
</section>
