<div class="panel">
  <!--div class="panel__options">
    <a ui-sref="^.usuario-uno" class="boton boton--naranja panel__options__elem"><i class="fa fa-fw fa-file"></i> Nuevo Usuario</a>
  </div-->
  <div class="panel__body" ng-if="vm.listado.contador === 0">
    <p class="no-results">
      <i class="fa fa-fw fa-list"></i>
      <span>No hay Usuarios registrados.</span>
    </p>
  </div>
  <div class="table-responsive" ng-if="vm.listado.contador > 0">
    <table class="tabla">
      <thead class="tabla__header text--left">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Correo electrónico</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody class="tabla__body tabla--clickable">
        <tr ng-repeat="usuario in vm.listado.docs track by $index">
          <td ng-bind="$index + 1" ui-sref="^.usuario-uno({id: usuario._id})"></td>
          <td ng-bind="usuario.nombre" ui-sref="^.usuario-uno({id: usuario._id})"></td>
          <td ng-bind="usuario.correo" ui-sref="^.usuario-uno({id: usuario._id})"></td>
          <td>
            <ul class="tabla__opciones">
              <li class="tabla__opciones__elem" tooltip="Editar" ui-sref="^.usuario-uno({id: usuario._id, editar: true})"><i class="text--cyan fa fa-fw fa-edit"></i></li>
              <li class="tabla__opciones__elem" tooltip="Eliminar" ng-click="vm.eliminar(usuario)"><i class="text--tomate fa fa-fw fa-trash"></i></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
