<div class="panel">
  <div class="panel__options">
    <a ui-sref="^.marcasbultos-uno" class="boton boton--naranja panel__options__elem"><i class="fa fa-fw fa-file"></i> Nueva Marca de bulto</a>
  </div>
  <div class="panel__body" ng-if="vm.listado.contador === 0">
    <p class="no-results">
      <i class="fa fa-fw fa-list"></i>
      <span>No hay Marcas de bultos registrados.</span>
    </p>
  </div>
  <div class="table-responsive" ng-if="vm.listado.contador > 0">
    <table class="tabla">
      <thead class="tabla__header text--left">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Presentación</th>
          <th>Peso</th>
          <th>Capacidad Máxima</th>
          <th>Capacidad Mínima</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody class="tabla__body tabla--clickable">
        <tr ng-repeat="marcasbultos in vm.listado.docs track by $index">
          <td ng-bind="$index + 1" ui-sref="^.marcasbultos-uno({id: marcasbultos._id})"></td>
          <td ng-bind="marcasbultos.nombre" ui-sref="^.marcasbultos-uno({id: marcasbultos._id})"></td>
          <td ng-bind="marcasbultos.presentacion" ui-sref="^.marcasbultos-uno({id: marcasbultos._id})"></td>
          <td ng-bind="marcasbultos.peso" ui-sref="^.marcasbultos-uno({id: marcasbultos._id})"></td>
          <td ng-bind="marcasbultos.capacidadMax" ui-sref="^.marcasbultos-uno({id: marcasbultos._id})"></td>
          <td ng-bind="marcasbultos.capacidadMin" ui-sref="^.marcasbultos-uno({id: marcasbultos._id})"></td>
          <td>
            <ul class="tabla__opciones">
              <li class="tabla__opciones__elem" tooltip="Editar" ui-sref="^.marcasbultos-uno({id: marcasbultos._id, editar: true})"><i class="text--cyan fa fa-fw fa-edit"></i></li>
              <li class="tabla__opciones__elem" tooltip="Eliminar" ng-click="vm.eliminar(marcasbultos)"><i class="text--tomate fa fa-fw fa-trash"></i></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
